<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ButtonHome.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,252}</string>
                <key>spriteSourceSize</key>
                <string>{245,252}</string>
                <key>textureRect</key>
                <string>{{1280,0},{245,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonPlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,252}</string>
                <key>spriteSourceSize</key>
                <string>{256,252}</string>
                <key>textureRect</key>
                <string>{{0,720},{256,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonReplay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,231}</string>
                <key>spriteSourceSize</key>
                <string>{234,231}</string>
                <key>textureRect</key>
                <string>{{256,720},{234,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonTips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,140}</string>
                <key>spriteSourceSize</key>
                <string>{139,140}</string>
                <key>textureRect</key>
                <string>{{490,720},{139,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FireBall (tem).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{669,720},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MetalBall(tem).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,36}</string>
                <key>spriteSourceSize</key>
                <string>{39,36}</string>
                <key>textureRect</key>
                <string>{{777,720},{39,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SoilBall(tem).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,38}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{816,720},{39,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WaterBall(tem).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,37}</string>
                <key>spriteSourceSize</key>
                <string>{39,37}</string>
                <key>textureRect</key>
                <string>{{1215,720},{39,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WoodenBall(tem).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,37}</string>
                <key>spriteSourceSize</key>
                <string>{39,37}</string>
                <key>textureRect</key>
                <string>{{1254,720},{39,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fbal03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{629,720},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{707,720},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiles02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{855,720},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiles03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{895,720},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiles05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{935,720},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiles06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{975,720},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiles07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1015,720},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiles08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1055,720},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiles09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1095,720},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>transform.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1135,720},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1175,720},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SceneRes01.png</string>
            <key>size</key>
            <string>{1525,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1198db8cacb1f4766a5b9e40163eacba:b110e295eb3e8e7af721196442df4310:787d5b8436b06624b45710b4ad227023$</string>
            <key>textureFileName</key>
            <string>SceneRes01.png</string>
        </dict>
    </dict>
</plist>
