<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chassis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,231}</string>
                <key>spriteSourceSize</key>
                <string>{236,231}</string>
                <key>textureRect</key>
                <string>{{0,0},{236,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,231}</string>
                <key>spriteSourceSize</key>
                <string>{236,231}</string>
                <key>textureRect</key>
                <string>{{236,0},{236,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>VirtualJoystick.png</string>
            <key>size</key>
            <string>{472,231}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01ca39979de73c9cafb093d4c9b11312:73bc314f742ddfa9804f60607285909d:aa38cc11037881412c57a26b04ef2663$</string>
            <key>textureFileName</key>
            <string>VirtualJoystick.png</string>
        </dict>
    </dict>
</plist>
